* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 90%;
	margin: 0;
}

body {
	align-items: center;
	display: flex;
	background-image: url(/images/bg-stars.svg);
	background-color: hsl(235, 16%, 14%);
	font-size: 14px;
	font-family: 'Red Hat Text', sans-serif;
}

.container {
	width: 90%;
	color: hsl(0, 0%, 100%);
	margin: 0 auto;
	text-align: center;
	letter-spacing: 10px;
}

h1 {
	letter-spacing: .125rem;
	text-transform: uppercase;
	letter-spacing: 10px;
	padding-bottom: 5%;
}

li {
	display: inline-block;
	font-size: .75em;
	list-style-type: none;
	padding: 1em;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 5px;
	color: hsl(237, 18%, 59%);
}

li span {
	display: block;
	font-size: 2rem;
	color: hsl(345, 95%, 68%);
}

.message {
	font-size: 4rem;
}

#content {
	display: none;
	padding: 1rem;
}

.emoji {
	padding: 0 .25rem;
}

@media all and (max-width: 768px) {
	h1 {
		font-size: 1.5rem;
	}

	li {
		font-size: 1.125rem;
		padding: .75rem;
	}

	li span {
		font-size: 3.375rem;
	}

	.timer-box {
		width: 100px;
	}
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 25vh;
	background-image: url(/images/pattern-hills.svg);
	color: white;
}

.socmed-btn {
	display: flex;
	justify-content: center;
}

.socmed-btn div {
	margin: 10px;
	padding: 20px;
}

a svg:hover #facebook,
a svg:hover #instagram,
a svg:hover #pinterest {
	fill: hsl(345, 95%, 68%);
}

.attribution {
	padding: 0;
	text-align: center;
}
.attribution a {
	text-decoration: none;
	color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 380px) {
	h1 {
		font-size: 1rem;
	}

	li {
		font-size: .5rem;
		padding: 10px 0;
	}

	li span {
		padding-bottom: .5rem;
		font-size: 1.375rem;
	}

	.timer-box {
		width: 50px;
	}
}

.timer-box {
	background-color: hsl(236, 21%, 26%);
	padding: 1rem;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	border-bottom: 8px solid hsl(234, 17%, 12%);
	width: 100px;
	text-align: center;
}

.overlay {
	width: 100%;
	height: 50%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .2);
	border-bottom: .1px solid rgba(0, 0, 0, .1);
}
